@font-face {
  src: url(../font/JetBrainsMonoNLNerdFontMono-SemiBold.ttf);
  font-family: "custom";
}

* {
  font-family: custom;
  background-color: #24283b;
}

header {
  margin-top: 2em;
  color: #7aa2f7;
}

#game {
  margin: auto;
  width: 40%;
  text-align: center;
  color: #7aa2f7;
}

#startButton,
#resetBtn {
  color: #7aa2f7;
}

input[type="text"] {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #c3e88d;
  width: 50%;
  border: none;
  outline: none;
}

div#totalTime {
  margin-bottom: 20px;
}

div#wordToType {
  color: #ff9e64;
  font-size: 1.5em;
}

.navbar .navbar-nav .nav-link {
  color: #545c7e;
}

.nav-link:hover {
  color: #ffffff !important;
}

div#content {
  display: flex;
  justify-content: center;
  color: #a9b1d6;
}

article {
  color: #a9b1d6;
}
